<template>
<div class="container">
<div class="wrap">
  <h1>Welcome!</h1>
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque explicabo totam non dolorum ad itaque, deleniti doloribus reprehenderit tempora dicta.</p>
  <nuxt-link to="/login">  <button class="btn">Login Now!</button></nuxt-link>

  </div>
  </div>
</template>

<script>
export default {}
</script>

<style>
.container{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  
}
.wrap{
    width:40vw;
    height:40vh;
    background-color: #fff;
    margin: auto;
   box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
   text-align:center;
}
.btn{
    width:200px;
    height:50px;
    background-color:pink;
    
    border: 2px solid #000;
    
    margin:15px auto;
}
.btn:hover{
    cursor: pointer;
    background-color:rgb(250, 145, 163);
}
</style>