<template>
<div class="container">
    <div class="wrap">
    <h1>Login successfull</h1>
    <img width="30%" src="https://img.freepik.com/free-vector/people-with-thumbs-up-symbol_53876-40291.jpg?size=626&ext=jpg&ga=GA1.2.1660904050.1628294400" alt="">
</div>
</div>





</template>